$banner_height: 873px;
$banner_margin_top: -13px;

$container_padding_top: 90px;

$banner_title_font_size: 48px;
$banner_title_font_color: #e7e2e2;
$banner_content_line_height: 45px;
$banner_content_space_weight: 15px;

$hot_video_top_margin_top: 65px;
$hot_video_top_margin_bottom: 21px;

$arrow_box_margin: 10px;
$arrow_margin_top: 7px;
$arrow_margin_left: 10px;

$cutLine_margin_bottom: 51px;

$hot_videos_margin_top: 50px;
$hot_videos_margin_bottom: 60px;

$movie_info_color: #17232a;

$movie_info_li_padding_bottom: 5px;

$purchase_button_width: 260px;
$purchase_button_height: 40px;

$purchase_button_width_1: 100px;
$purchase_button_height_1: 20px;

$display_movie_by_date_top: 100px;

$cinema_location_margin_top: 5px;

$select_board_top:40px;
$select_board_right: 20px;

$select_board_submit_margin_top: 50px;

$display_movies_margin_left: 18px;
$display_movie_time_margin_bottom: 48px;
$display_movie_margin_right: 60px;
$display_movie_cut_line_top: 34px;
$display_movie_vertical_cutLine_top: 33px;
$display_movie_vertical_cutLine_left: 60px;

#body{
  position: relative;
  background: #eae8e8;
  .banner{
    width: 100%;
    height: $banner_height;
    margin-top: $banner_margin_top;
    position: absolute;
    z-index: 1;
    float: left;
    div{
      position: relative;
      em{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.3);
      }
    }
    img{
      width: 100%;
    }
  }
  .container{
    position: relative;
    z-index: 10;
    padding: {
      top: $container_padding_top;
      bottom: 70px;
    };
    .banner_title {
      text-align: center;
      margin-bottom: 100px;
      span {
        font-family: "Microsoft YaHei UI";
        font-size: $banner_title_font_size;
        letter-spacing: 0;
        color: $banner_title_font_color;
      }
    }
    .banner_content{
      text-align: center;
      div{
        span {
          letter-spacing: $banner_content_space_weight;
          line-height: $banner_content_line_height;
        }
      }
    }
    .hot_video_top{
      margin-top: $hot_video_top_margin_top;
      margin-bottom: $hot_video_top_margin_bottom;
      vertical-align: middle;
      .hot_video_title{
        float: left;
        cursor: pointer;
        a{
          span,img{
            vertical-align: middle;
          }
          span{
            font-size: 30px;
            color: #e7e2e2;
          }
        }
      }
      .arrow_box{
        width: 28px;
        height: 28px;
        background: #c7cacb;
        float: right;
        opacity: 0.8;
        margin: 0 $arrow_box_margin;
        cursor: pointer;
        .arrow{
          margin: $arrow_margin_top $arrow_margin_left;
        }
      }
    }

    .hot_videos {
      margin: $hot_videos_margin_top 0 $hot_videos_margin_bottom 0;
      display: flex;
      justify-content: center;
      .movie_container{
        display: flex;
        justify-content: space-between;
        margin: 28px 0;
        .movie{
          position: relative;
          margin: 0 10px;
          .cover{
            width: 310px;
            height: 466px;
            img{
              width: 310px;
              height: 466px;
            }
          }
          .info{
            visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            background: $movie_info_color;
            opacity: 0.75;
            top: 0;
            left: 0;
            ul{
              margin: 25px 21px;
              li{
                padding: $movie_info_li_padding_bottom 0;
              }
              .movie_title{
                padding-bottom: 35px;
              }
            }
            .purchase_button_container{
              .purchase_button{
                width: $purchase_button_width;
                height: $purchase_button_height;
                text-align: center;
                background: #ff0000;
                margin: 0 auto;
                cursor: pointer;
                span{
                  font-size: 19px;
                  color: #e7e2e2;
                  line-height: 40px;
                }
              }
            }
          }
          &:hover{
            .info{
              visibility: visible;
            }
          }
        }
      }
    }
    .cutLine{
      background: #c0bfbf;
      opacity: 1;
    }
    .display_movie_by_date{
      margin: $display_movie_by_date_top 0 0 0;
      padding-bottom: 30px;
      width: 100%;
      position: relative;
      .select_cinema_part{
        float: left;
        margin: 0 36px;
        .arrow_down{
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px;
          border-color: black transparent transparent;
        }
        .cinema_location{
          cursor: pointer;
          display: flex;
          justify-content: center;
          position: relative;
          margin: 0 0 30px 0;
          img,.location_name,.arrow_down{
            vertical-align: middle;
            line-height: 23px;
            position: relative;
            margin: 0 10px;
          }
          .location_name{
            font-size: 24px;
            font-family: "Microsoft YaHei UI";
            color: #090909;
          }
          .arrow_down{
            margin-top: $cinema_location_margin_top;
          }
        }
        .select_board{
          position: relative;
          input{
            width: 238px;
            height: 48px;
            border-radius: 10px;
            background: #ffffff;
            margin: 18px 0;
            outline: none;
            font-size: 20px;
            color: #090909;
            padding-left: 17px;
            border: 0;
          }
          .arrow_down{
            position: absolute;
            top: $select_board_top;
            right: $select_board_right;
            cursor: pointer;
          }
          .select_cinema,.select_movie{
            position: relative;

            .number{
              position: absolute;
              font-size: 20px;
              color: #090909;
              top: 30px;
              right: 48px;
              span{
                color: #f02323;
              }
            }
          }
          .select_board_submit{
            width: 172px;
            height: 47px;
            background: #ff0000;
            border-radius: 10px;
            text-align: center;
            font-size: 22px;
            color: #e7e2e2;
            margin: $select_board_submit_margin_top auto;
            line-height: 44px;
            cursor: pointer;
            &:hover{
              box-shadow: 0px 0px 5px 5px #888888;
            }
          }

        }
      }
      .display_movies{
        float: left;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0 $display_movies_margin_left;
        .movie{
          text-align: center;
          position: relative;
          margin-right: $display_movie_margin_right;
          .time{
            font-size: 20px;
            font-family: "Microsoft YaHei UI";
            color: #050505;
            margin-bottom: $display_movie_time_margin_bottom;
          }
          .vertical_cutLine{
            background: #c0bfbf;
            height: 52px;
            width: 2px;
            position: absolute;
            margin: 0 auto;
            top: $display_movie_vertical_cutLine_top;
            left: $display_movie_vertical_cutLine_left;
            z-index: -1;
          }
          .movie_cover{
            position: relative;
            width: 120px;
            height: 180px;
            img{
              width: 120px;
              height: 180px;
            }
            &:hover .info{
              visibility: visible;
            }
            .info{
              visibility: hidden;
              position: absolute;
              width: 100%;
              height: 100%;
              background: $movie_info_color;
              opacity: 0.75;
              top: 0;
              left: 0;
              ul{
                margin: 3px 10px;

                text-align: left;
                color: #efebeb;
                li{
                  padding: 4px 0;
                }
                .movie_title_font{
                  font-size: 18px;
                }
                .movie_info_content_font{
                  font-size: 12px;
                }
                .movie_description_content_font{
                  font-size: 10px;
                }
              }
              .purchase_button_early_container{
                .purchase_early_button{
                  width: $purchase_button_width_1;
                  height: $purchase_button_height_1;
                  text-align: center;
                  background: #ff0000;
                  margin: 0 auto;
                  cursor: pointer;
                  span{
                    font-size: 12px;
                    color: #e7e2e2;
                  }
                }
              }
            }
          }
        }
        .cutLine{
          position: absolute;
          margin: $display_movie_cut_line_top 0;
          span{
            &:hover{
              text-decoration: underline;
            }
            color: rgba(5,5,5,1);
            font-weight: 400;
            font-size: 10px;
            opacity: 0.8;
            position: absolute;
            z-index: 100;
            right: 0;
            top: -18px;
          }
        }
        .details{
          cursor: pointer;
          text-align: center;
          position: absolute;
          top: 290px;
          left: 290px;
          width: 146px;
          height: 40px;
          &:hover{
            border-radius: 10px;
            border: 1px solid rgba(243,240,240,1);
          }
          span{
            font-size: 19px;
            color: #0b0b0b;
            opacity: 0.8;
            line-height: 38px;
          }
          display: block;
        }
      }
      .display_movie_mark{
        margin: 11px 15px;
        float: left;
        .title{
          text-align: center;
          font-size: 24px;
          margin-bottom: 35px;
          span{
            padding: 0 100px 0 0;
          }
        }
        a{
          float: right;
          font-size: 12px;
          color: #070707;
          opacity: 0.8;
          margin: 36px 80px;
          &:hover{
            text-decoration: underline;
            opacity: 0.8;
          }
        }
      }
    }
    .news_today_top{
      .news_today_top_title{
        a{
          span{
            color: #070707;
          }
        }
      }
    }
    .news_today{
      .movie_container{
        .middle_left{
          margin: 0 -78px;
        }
        .middle_right{
          margin-right: -78px;
        }
        .news{
          position: relative;
          .news_title{
            position: absolute;
            left: 100px;
          }
          .news_info{
            text-align: center;
            width: 200px;
            margin: 0 auto;
            span{
              font-size: 20px;
              color: #0b0b0b;
              opacity: 0.9;
              letter-spacing: 2px;
            }
          }
          .more_button{
            line-height: 40px;
          }
          &:hover .news_title{
            visibility: hidden;
          }
          &:hover .left_edge{
            visibility: visible;
          }
          &:hover .right_edge{
            visibility: visible;
          }
          &:hover .news_cover{
            visibility: visible;
          }
          .left_edge{
            visibility: hidden;
            transform-origin: bottom left;
            position: absolute;
            background: #17232a;
            opacity: 0.75;
            color: #e7e2e2;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            &:after{
              content: " ";
              position: absolute;
              height: 100%;
              transform:skew(23deg);

              background: #eae8e8;
              width: 100px;
              right: -50px;
              top: 0;
            }
            div{
              margin: 13px auto;
            }
            span{
              color: #e7e2e2;
            }
            .news_info{
              font-size: 24px;
              width: 200px;
            }
            .detail{
              font-size: 18px;
              width: 260px;
            }
            .details{
              width: 155px;
              height: 42px;
              background: #ff0000;
              cursor: pointer;
              text-align: center;
              border-radius: 10px;
            }
          }
          .news_cover{
            visibility: hidden;
            position: absolute;
            background: #17232a;
            opacity: 0.75;
            width: 75%;
            height: 100%;
            left: 50px;
            top: 0;
            transform:skew(24deg);
            span{
              transform: skew(-24deg);
              display: inline-block;
              color: #e7e2e2;
            }
            div{
              margin: 13px auto;
            }
            .news_info{
              font-size: 24px;
              width: 200px;
            }
            .detail{
              font-size: 18px;
              width: 260px;
            }
            .details{
              width: 155px;
              height: 42px;
              background: #ff0000;
              cursor: pointer;
              text-align: center;
              border-radius: 10px;
              transform:skew(-23deg);
              .more{
                display: inline;
              }
            }
          }
          .right_edge{
            visibility: hidden;
            position: absolute;
            background: #17232a;
            opacity: 0.75;
            width: 75%;
            height: 100%;
            left: 50px;
            top: 0;
            transform:skew(24deg);
            span{
              transform: skew(-24deg);
              display: inline-block;
              color: #e7e2e2;
            }
            div{
              margin: 13px auto;
            }
            .news_info{
              font-size: 24px;
              width: 200px;
            }
            .detail{
              font-size: 18px;
              width: 260px;
            }
            .details{
              width: 155px;
              height: 42px;
              background: #ff0000;
              cursor: pointer;
              text-align: center;
              border-radius: 10px;
              transform:skew(-23deg);
              .more{
                display: inline;
              }
            }
            &:after{
              content: " ";
              position: absolute;
              height: 100%;
              transform:skew(-23deg);
              z-index: -1;
              background: #17232a;
              width: 100px;
              right: -50px;
              top: 0;
            }
          }
        }
      }
    }
    .hot_comment{
      .hot_comment_title{
        a{
          span{
            color: black;
          }
        }
      }
    }
    .hot_comments{
      margin-bottom: 0;
      .hot_comment{
        position: relative;
        .img_cover{
          width: 500px;
          height: 300px;
          z-index: -1;
          position: relative;
        }
        .info_container{
          cursor: pointer;
          z-index: 100;
          position: relative;
          width: 95%;
          background: #eae8e8;
          &:hover{
            -moz-box-shadow:0 0 10px grey;
            -webkit-box-shadow:0 0 10px grey;
            box-shadow:0 0 10px grey;
          }
          border: 1px solid #eae8e8;
          border-radius: 5px;
          margin: -34px auto 0;
          .info{
            .head{
              position: relative;
              a{
                cursor: pointer;
                img{
                  border-radius: 100%;
                  width: 52px;
                  height: 52px;
                  position: absolute;
                  top: -30px;
                  left: 15px;
                }
                span{
                  padding: 0 0 0 70px;
                  font-size: 10px;
                  color: #1d1d1d;
                  opacity: 0.9;
                }
              }
              .comment_time{
                padding-top: 5px;
                float: right;
                margin: 0 19px;
                font-size: 10px;
                color: #1d1d1d;
                opacity: 0.7;
              }
            }
            .body{
              .title{
                margin: 10px 0;
                text-align: center;
                span {
                  font-size: 20px;
                  color: #1d1d1d;
                }
              }
              .content{
                margin: 10px;
                span {
                  padding: 0 28px;
                  font-size: 14px;
                  color: #1d1d1d;
                  opacity: 0.85;
                }
              }
              .movie_name{
                float: right;
                font-size: 10px;
                opacity: 0.8;
                color: #1d1d1d;
              }
            }
          }
        }
      }
    }
  }
}

#mark_board{
  color: #090909;
  dl{
    position: relative;
  }
  dt{
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 0 18px;
  }
  dt span{
    width: 122px;
  }
  dd{
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 0 18px;
  }
  dd span{
    width: 110px;
    padding: 0 5px;
  }
  dt,dd{
    display: block;
  }
  span{
    float: left;
    line-height: 45px;
  }
  .title{
    font-size: 24px;
  }
  .head_info{
    span{
      font-size: 18px;
    }
  }
  .movie{
    span{
      font-size: 16px;
    }
    .movie_mark{
      color: #16b45d;
    }
    .movie_rank{
      color: #db3131;
    }
  }
}