* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei UI"; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container {
  width: 80%;
  margin: 0 auto; }

.navi_font {
  text-decoration: none;
  list-style: none;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 28px;
  color: #e7e2e2; }

.movie_title_font {
  font-family: "Microsoft YaHei UI";
  color: #e7e2e2;
  font-size: 29px; }

.movie_lang_time_font {
  font-family: "Microsoft YaHei UI";
  color: #e7e2e2;
  font-size: 17px; }

.movie_description_content_font {
  font-family: "Microsoft YaHei UI";
  font-size: 13px;
  color: #e7e2e2; }

.cutLine {
  width: 100%;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
  position: absolute; }

.vertical_cutLine {
  width: 1px;
  height: 20px;
  background: #ffffff;
  opacity: 0.5;
  position: absolute; }

.vertical_cutLine_left {
  left: 103px;
  top: 40px; }

.vertical_cutLine_right {
  right: -50px;
  top: 40px; }

.vertical_cutLine_long {
  width: 1px;
  height: 328px;
  background: #c0bfbf;
  float: left; }

.arrow_left_black {
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: transparent transparent transparent black;
  position: relative;
  float: left;
  left: 153px;
  top: 8px; }
  .arrow_left_black:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border: 12px solid;
    left: -15px;
    top: -12px;
    border-color: transparent transparent transparent #eae8e8; }

.arrow_top {
  position: absolute;
  width: 0;
  height: 0;
  top: 8px;
  left: 19px;
  border: 20px solid;
  border-color: transparent transparent white transparent; }
  .arrow_top:after {
    content: ' ';
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent  #5e6d73 transparent;
    width: 0;
    height: 0;
    top: -15px;
    left: -20px; }

.input {
  width: 288px;
  height: 33px;
  outline: none;
  padding: 0 0 0 10px;
  border: 2px solid black;
  border-radius: 3px; }

#header {
  z-index: 100;
  position: relative; }
  #header .navi {
    width: 100%;
    position: relative;
    background-image: -moz-linear-gradient(#192835, #1a2b37);
    background-image: -webkit-linear-gradient(#192835, #1a2b37);
    background-image: -o-linear-gradient(#192835, #1a2b37);
    background-image: linear-gradient(#192835, #1a2b37); }
    #header .navi .container .logo {
      float: left;
      padding: 10px 0; }
    #header .navi .container .log_register {
      padding: 15px 0;
      float: right; }
      #header .navi .container .log_register .log .head_portrait {
        display: inline-block;
        position: relative;
        vertical-align: middle; }
        #header .navi .container .log_register .log .head_portrait .head_portrait, #header .navi .container .log_register .log .head_portrait .login_in {
          margin: 3px 1px; }
        #header .navi .container .log_register .log .head_portrait .head_portrait {
          vertical-align: middle;
          position: absolute;
          left: 8px;
          top: 7px; }
      #header .navi .container .log_register .register {
        padding: 20px 0;
        margin: 3px 1px;
        text-decoration: none;
        letter-spacing: 17px; }
        #header .navi .container .log_register .register .shadow {
          color: #eae9e9;
          opacity: 0.2; }
    #header .navi .container .selections {
      text-align: center;
      display: flex;
      justify-content: center; }
      #header .navi .container .selections .selection {
        padding: 20px 0;
        vertical-align: middle;
        display: inline-block;
        margin: 0 5%; }

#header .navi .container .log_register {
  visibility: hidden; }

#body .container {
  width: 70%;
  margin: 68px auto;
  border-radius: 5px;
  box-shadow: 0px -1px 15px 3px;
  background: -moz-linear-gradient(left, #e0e0e0, #ffffff);
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #e0e0e0, #ffffff);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #e0e0e0, #ffffff); }
  #body .container .logo_container {
    float: left;
    margin: 170px 210px; }
    #body .container .logo_container .logo_tag {
      font-family: "Microsoft YaHei UI";
      text-align: center;
      color: #5b88b4;
      font-size: 18px;
      font-weight: normal; }
  #body .container .login {
    float: right;
    margin: 80px 110px 60px; }
    #body .container .login .title {
      text-align: center;
      margin: 0 0 34px 0; }
      #body .container .login .title span {
        font-size: 18px;
        color: #1a2a36; }
    #body .container .login .sel {
      position: relative;
      margin: 24px 0; }
      #body .container .login .sel p {
        font-size: 9px;
        font-weight: 400; }
    #body .container .login .submit {
      width: 100%;
      height: 33px;
      text-align: center;
      background: #5b88b4;
      cursor: pointer; }
      #body .container .login .submit span {
        color: white;
        font-weight: bold;
        line-height: 32px; }
    #body .container .login .register_find_back a span {
      font-size: 12px;
      color: #5b88b4; }
    #body .container .login .register_find_back a .register {
      float: left; }
    #body .container .login .register_find_back a .find_back {
      float: right; }

.toTop {
  visibility: hidden; }

#footer {
  background: #1c2d38; }
  #footer .container {
    display: flex;
    justify-content: space-between; }
    #footer .container ul * {
      cursor: pointer; }
    #footer .container ul li {
      font-size: 24px;
      color: #ffffff;
      padding: 19px 0; }
    #footer .container ul .title {
      font-size: 32px;
      padding: 45px 0; }
    #footer .container .subscribe li a img, #footer .container .subscribe li a span {
      vertical-align: middle; }
    #footer .container .subscribe li a span {
      color: #ffffff;
      font-size: 24px; }
    #footer .container .toTop {
      cursor: pointer;
      width: 78px;
      height: 78px;
      border-radius: 100%;
      background: #5e6d73;
      position: relative;
      margin: 135px 0; }

/*# sourceMappingURL=logIn-css..css.map */
