#header {
  z-index: 100;
  position: relative; }
  #header .navi {
    width: 100%;
    position: relative;
    background-image: -moz-linear-gradient(#192835, #1a2b37);
    background-image: -webkit-linear-gradient(#192835, #1a2b37);
    background-image: -o-linear-gradient(#192835, #1a2b37);
    background-image: linear-gradient(#192835, #1a2b37); }
    #header .navi .container .logo {
      float: left;
      padding: 10px 0; }
    #header .navi .container .log_register {
      padding: 15px 0;
      float: right; }
      #header .navi .container .log_register .log .head_portrait {
        display: inline-block;
        position: relative;
        vertical-align: middle; }
        #header .navi .container .log_register .log .head_portrait .head_portrait, #header .navi .container .log_register .log .head_portrait .login_in {
          margin: 3px 1px; }
        #header .navi .container .log_register .log .head_portrait .head_portrait {
          vertical-align: middle;
          position: absolute;
          left: 8px;
          top: 7px; }
      #header .navi .container .log_register .register {
        padding: 20px 0;
        margin: 3px 1px;
        text-decoration: none;
        letter-spacing: 17px; }
        #header .navi .container .log_register .register .shadow {
          color: #eae9e9;
          opacity: 0.2; }
    #header .navi .container .selections {
      text-align: center;
      display: flex;
      justify-content: center; }
      #header .navi .container .selections.hover {
        text-decoration: underline; }
      #header .navi .container .selections .selection {
        cursor: pointer;
        padding: 20px 0;
        vertical-align: middle;
        display: inline-block;
        margin: 0 5%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei UI"; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container {
  width: 80%;
  margin: 0 auto; }

.navi_font {
  text-decoration: none;
  list-style: none;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 28px;
  color: #e7e2e2; }

.movie_title_font {
  font-family: "Microsoft YaHei UI";
  color: #e7e2e2;
  font-size: 29px; }

.movie_lang_time_font {
  font-family: "Microsoft YaHei UI";
  color: #e7e2e2;
  font-size: 17px; }

.movie_description_content_font {
  font-family: "Microsoft YaHei UI";
  font-size: 13px;
  color: #e7e2e2; }

.cutLine {
  width: 100%;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
  position: absolute; }

.vertical_cutLine {
  width: 1px;
  height: 20px;
  background: #ffffff;
  opacity: 0.5;
  position: absolute; }

.vertical_cutLine_left {
  left: 103px;
  top: 40px; }

.vertical_cutLine_right {
  right: -50px;
  top: 40px; }

.vertical_cutLine_long {
  width: 1px;
  height: 328px;
  background: #c0bfbf;
  float: left; }

.arrow_left_black {
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: transparent transparent transparent black;
  position: relative;
  float: left;
  left: 153px;
  top: 8px; }
  .arrow_left_black:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border: 12px solid;
    left: -15px;
    top: -12px;
    border-color: transparent transparent transparent #eae8e8; }

.arrow_top {
  position: absolute;
  width: 0;
  height: 0;
  top: 8px;
  left: 19px;
  border: 20px solid;
  border-color: transparent transparent white transparent; }
  .arrow_top:after {
    content: ' ';
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent  #5e6d73 transparent;
    width: 0;
    height: 0;
    top: -15px;
    left: -20px; }

.input {
  width: 288px;
  height: 33px;
  outline: none;
  padding: 0 0 0 10px;
  border: 2px solid black;
  border-radius: 3px; }

.navi_cutline {
  width: 100%;
  height: 1px;
  position: absolute;
  background: #8c959b;
  left: 0;
  top: 76px; }

#header .navi .container .search {
  position: relative; }
  #header .navi .container .search .search_movie {
    position: relative;
    margin: 0 auto;
    width: 648px; }
    #header .navi .container .search .search_movie input {
      width: 100%;
      height: 46px;
      background: transparent;
      border: solid 1px #ffffff;
      border-radius: 22px;
      outline: none;
      margin: 25px 0;
      font-size: 18px;
      font-weight: normal;
      color: #e7e2e2;
      opacity: 0.75;
      padding-left: 117px; }
    #header .navi .container .search .search_movie .select_mode {
      z-index: 100;
      position: absolute;
      top: 35px;
      left: 15px;
      cursor: pointer; }
      #header .navi .container .search .search_movie .select_mode a {
        text-decoration: none; }
        #header .navi .container .search .search_movie .select_mode a span {
          font-size: 20px; }
        #header .navi .container .search .search_movie .select_mode a span, #header .navi .container .search .search_movie .select_mode a img {
          padding: 0 5px; }
    #header .navi .container .search .search_movie #submit {
      position: absolute;
      top: 40px;
      right: -96px;
      cursor: pointer; }

#body {
  position: relative;
  background: #eae8e8; }
  #body .banner {
    width: 100%;
    height: 873px;
    margin-top: -13px;
    position: absolute;
    z-index: 1;
    float: left; }
    #body .banner div {
      position: relative; }
      #body .banner div em {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3); }
    #body .banner img {
      width: 100%; }
  #body .container {
    position: relative;
    z-index: 10;
    padding-top: 90px;
    padding-bottom: 70px; }
    #body .container .banner_title {
      text-align: center;
      margin-bottom: 100px; }
      #body .container .banner_title span {
        font-family: "Microsoft YaHei UI";
        font-size: 48px;
        letter-spacing: 0;
        color: #e7e2e2; }
    #body .container .banner_content {
      text-align: center; }
      #body .container .banner_content div span {
        letter-spacing: 15px;
        line-height: 45px; }
    #body .container .hot_video_top {
      margin-top: 65px;
      margin-bottom: 21px;
      vertical-align: middle; }
      #body .container .hot_video_top .hot_video_title {
        float: left;
        cursor: pointer; }
        #body .container .hot_video_top .hot_video_title a span, #body .container .hot_video_top .hot_video_title a img {
          vertical-align: middle; }
        #body .container .hot_video_top .hot_video_title a span {
          font-size: 30px;
          color: #e7e2e2; }
      #body .container .hot_video_top .arrow_box {
        width: 28px;
        height: 28px;
        background: #c7cacb;
        float: right;
        opacity: 0.8;
        margin: 0 10px;
        cursor: pointer; }
        #body .container .hot_video_top .arrow_box .arrow {
          margin: 7px 10px; }
    #body .container .hot_videos {
      margin: 50px 0 60px 0;
      display: flex;
      justify-content: center; }
      #body .container .hot_videos .movie_container {
        display: flex;
        justify-content: space-between;
        margin: 28px 0; }
        #body .container .hot_videos .movie_container .movie {
          position: relative;
          margin: 0 10px; }
          #body .container .hot_videos .movie_container .movie .cover {
            width: 310px;
            height: 466px; }
            #body .container .hot_videos .movie_container .movie .cover img {
              width: 310px;
              height: 466px; }
          #body .container .hot_videos .movie_container .movie .info {
            visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #17232a;
            opacity: 0.75;
            top: 0;
            left: 0; }
            #body .container .hot_videos .movie_container .movie .info ul {
              margin: 25px 21px; }
              #body .container .hot_videos .movie_container .movie .info ul li {
                padding: 5px 0; }
              #body .container .hot_videos .movie_container .movie .info ul .movie_title {
                padding-bottom: 35px; }
            #body .container .hot_videos .movie_container .movie .info .purchase_button_container .purchase_button {
              width: 260px;
              height: 40px;
              text-align: center;
              background: #ff0000;
              margin: 0 auto;
              cursor: pointer; }
              #body .container .hot_videos .movie_container .movie .info .purchase_button_container .purchase_button span {
                font-size: 19px;
                color: #e7e2e2;
                line-height: 40px; }
          #body .container .hot_videos .movie_container .movie:hover .info {
            visibility: visible; }
    #body .container .cutLine {
      background: #c0bfbf;
      opacity: 1; }
    #body .container .display_movie_by_date {
      margin: 100px 0 0 0;
      padding-bottom: 30px;
      width: 100%;
      position: relative; }
      #body .container .display_movie_by_date .select_cinema_part {
        float: left;
        margin: 0 36px; }
        #body .container .display_movie_by_date .select_cinema_part .arrow_down {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px;
          border-color: black transparent transparent; }
        #body .container .display_movie_by_date .select_cinema_part .cinema_location {
          cursor: pointer;
          display: flex;
          justify-content: center;
          position: relative;
          margin: 0 0 30px 0; }
          #body .container .display_movie_by_date .select_cinema_part .cinema_location img, #body .container .display_movie_by_date .select_cinema_part .cinema_location .location_name, #body .container .display_movie_by_date .select_cinema_part .cinema_location .arrow_down {
            vertical-align: middle;
            line-height: 23px;
            position: relative;
            margin: 0 10px; }
          #body .container .display_movie_by_date .select_cinema_part .cinema_location .location_name {
            font-size: 24px;
            font-family: "Microsoft YaHei UI";
            color: #090909; }
          #body .container .display_movie_by_date .select_cinema_part .cinema_location .arrow_down {
            margin-top: 5px; }
        #body .container .display_movie_by_date .select_cinema_part .select_board {
          position: relative; }
          #body .container .display_movie_by_date .select_cinema_part .select_board input {
            width: 238px;
            height: 48px;
            border-radius: 10px;
            background: #ffffff;
            margin: 18px 0;
            outline: none;
            font-size: 20px;
            color: #090909;
            padding-left: 17px;
            border: 0; }
          #body .container .display_movie_by_date .select_cinema_part .select_board .arrow_down {
            position: absolute;
            top: 40px;
            right: 20px;
            cursor: pointer; }
          #body .container .display_movie_by_date .select_cinema_part .select_board .select_cinema, #body .container .display_movie_by_date .select_cinema_part .select_board .select_movie {
            position: relative; }
            #body .container .display_movie_by_date .select_cinema_part .select_board .select_cinema .number, #body .container .display_movie_by_date .select_cinema_part .select_board .select_movie .number {
              position: absolute;
              font-size: 20px;
              color: #090909;
              top: 30px;
              right: 48px; }
              #body .container .display_movie_by_date .select_cinema_part .select_board .select_cinema .number span, #body .container .display_movie_by_date .select_cinema_part .select_board .select_movie .number span {
                color: #f02323; }
          #body .container .display_movie_by_date .select_cinema_part .select_board .select_board_submit {
            width: 172px;
            height: 47px;
            background: #ff0000;
            border-radius: 10px;
            text-align: center;
            font-size: 22px;
            color: #e7e2e2;
            margin: 50px auto;
            line-height: 44px;
            cursor: pointer; }
            #body .container .display_movie_by_date .select_cinema_part .select_board .select_board_submit:hover {
              box-shadow: 0px 0px 5px 5px #888888; }
      #body .container .display_movie_by_date .display_movies {
        float: left;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0 18px; }
        #body .container .display_movie_by_date .display_movies .movie {
          text-align: center;
          position: relative;
          margin-right: 60px; }
          #body .container .display_movie_by_date .display_movies .movie .time {
            font-size: 20px;
            font-family: "Microsoft YaHei UI";
            color: #050505;
            margin-bottom: 48px; }
          #body .container .display_movie_by_date .display_movies .movie .vertical_cutLine {
            background: #c0bfbf;
            height: 52px;
            width: 2px;
            position: absolute;
            margin: 0 auto;
            top: 33px;
            left: 60px;
            z-index: -1; }
          #body .container .display_movie_by_date .display_movies .movie .movie_cover {
            position: relative;
            width: 120px;
            height: 180px; }
            #body .container .display_movie_by_date .display_movies .movie .movie_cover img {
              width: 120px;
              height: 180px; }
            #body .container .display_movie_by_date .display_movies .movie .movie_cover:hover .info {
              visibility: visible; }
            #body .container .display_movie_by_date .display_movies .movie .movie_cover .info {
              visibility: hidden;
              position: absolute;
              width: 100%;
              height: 100%;
              background: #17232a;
              opacity: 0.75;
              top: 0;
              left: 0; }
              #body .container .display_movie_by_date .display_movies .movie .movie_cover .info ul {
                margin: 3px 10px;
                text-align: left;
                color: #efebeb; }
                #body .container .display_movie_by_date .display_movies .movie .movie_cover .info ul li {
                  padding: 4px 0; }
                #body .container .display_movie_by_date .display_movies .movie .movie_cover .info ul .movie_title_font {
                  font-size: 18px; }
                #body .container .display_movie_by_date .display_movies .movie .movie_cover .info ul .movie_info_content_font {
                  font-size: 12px; }
                #body .container .display_movie_by_date .display_movies .movie .movie_cover .info ul .movie_description_content_font {
                  font-size: 10px; }
              #body .container .display_movie_by_date .display_movies .movie .movie_cover .info .purchase_button_early_container .purchase_early_button {
                width: 100px;
                height: 20px;
                text-align: center;
                background: #ff0000;
                margin: 0 auto;
                cursor: pointer; }
                #body .container .display_movie_by_date .display_movies .movie .movie_cover .info .purchase_button_early_container .purchase_early_button span {
                  font-size: 12px;
                  color: #e7e2e2; }
        #body .container .display_movie_by_date .display_movies .cutLine {
          position: absolute;
          margin: 34px 0; }
          #body .container .display_movie_by_date .display_movies .cutLine span {
            color: #050505;
            font-weight: 400;
            font-size: 10px;
            opacity: 0.8;
            position: absolute;
            z-index: 100;
            right: 0;
            top: -18px; }
            #body .container .display_movie_by_date .display_movies .cutLine span:hover {
              text-decoration: underline; }
        #body .container .display_movie_by_date .display_movies .details {
          cursor: pointer;
          text-align: center;
          position: absolute;
          top: 290px;
          left: 290px;
          width: 146px;
          height: 40px;
          display: block; }
          #body .container .display_movie_by_date .display_movies .details:hover {
            border-radius: 10px;
            border: 1px solid #f3f0f0; }
          #body .container .display_movie_by_date .display_movies .details span {
            font-size: 19px;
            color: #0b0b0b;
            opacity: 0.8;
            line-height: 38px; }
      #body .container .display_movie_by_date .display_movie_mark {
        margin: 11px 15px;
        float: left; }
        #body .container .display_movie_by_date .display_movie_mark .title {
          text-align: center;
          font-size: 24px;
          margin-bottom: 35px; }
          #body .container .display_movie_by_date .display_movie_mark .title span {
            padding: 0 100px 0 0; }
        #body .container .display_movie_by_date .display_movie_mark a {
          float: right;
          font-size: 12px;
          color: #070707;
          opacity: 0.8;
          margin: 36px 80px; }
          #body .container .display_movie_by_date .display_movie_mark a:hover {
            text-decoration: underline;
            opacity: 0.8; }
    #body .container .news_today_top .news_today_top_title a span {
      color: #070707; }
    #body .container .news_today .movie_container .middle_left {
      margin: 0 -78px; }
    #body .container .news_today .movie_container .middle_right {
      margin-right: -78px; }
    #body .container .news_today .movie_container .news {
      position: relative; }
      #body .container .news_today .movie_container .news .news_title {
        position: absolute;
        left: 100px; }
      #body .container .news_today .movie_container .news .news_info {
        text-align: center;
        width: 200px;
        margin: 0 auto; }
        #body .container .news_today .movie_container .news .news_info span {
          font-size: 20px;
          color: #0b0b0b;
          opacity: 0.9;
          letter-spacing: 2px; }
      #body .container .news_today .movie_container .news .more_button {
        line-height: 40px; }
      #body .container .news_today .movie_container .news:hover .news_title {
        visibility: hidden; }
      #body .container .news_today .movie_container .news:hover .left_edge {
        visibility: visible; }
      #body .container .news_today .movie_container .news:hover .right_edge {
        visibility: visible; }
      #body .container .news_today .movie_container .news:hover .news_cover {
        visibility: visible; }
      #body .container .news_today .movie_container .news .left_edge {
        visibility: hidden;
        transform-origin: bottom left;
        position: absolute;
        background: #17232a;
        opacity: 0.75;
        color: #e7e2e2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
        #body .container .news_today .movie_container .news .left_edge:after {
          content: " ";
          position: absolute;
          height: 100%;
          transform: skew(23deg);
          background: #eae8e8;
          width: 100px;
          right: -50px;
          top: 0; }
        #body .container .news_today .movie_container .news .left_edge div {
          margin: 13px auto; }
        #body .container .news_today .movie_container .news .left_edge span {
          color: #e7e2e2; }
        #body .container .news_today .movie_container .news .left_edge .news_info {
          font-size: 24px;
          width: 200px; }
        #body .container .news_today .movie_container .news .left_edge .detail {
          font-size: 18px;
          width: 260px; }
        #body .container .news_today .movie_container .news .left_edge .details {
          width: 155px;
          height: 42px;
          background: #ff0000;
          cursor: pointer;
          text-align: center;
          border-radius: 10px; }
      #body .container .news_today .movie_container .news .news_cover {
        visibility: hidden;
        position: absolute;
        background: #17232a;
        opacity: 0.75;
        width: 75%;
        height: 100%;
        left: 50px;
        top: 0;
        transform: skew(24deg); }
        #body .container .news_today .movie_container .news .news_cover span {
          transform: skew(-24deg);
          display: inline-block;
          color: #e7e2e2; }
        #body .container .news_today .movie_container .news .news_cover div {
          margin: 13px auto; }
        #body .container .news_today .movie_container .news .news_cover .news_info {
          font-size: 24px;
          width: 200px; }
        #body .container .news_today .movie_container .news .news_cover .detail {
          font-size: 18px;
          width: 260px; }
        #body .container .news_today .movie_container .news .news_cover .details {
          width: 155px;
          height: 42px;
          background: #ff0000;
          cursor: pointer;
          text-align: center;
          border-radius: 10px;
          transform: skew(-23deg); }
          #body .container .news_today .movie_container .news .news_cover .details .more {
            display: inline; }
      #body .container .news_today .movie_container .news .right_edge {
        visibility: hidden;
        position: absolute;
        background: #17232a;
        opacity: 0.75;
        width: 75%;
        height: 100%;
        left: 50px;
        top: 0;
        transform: skew(24deg); }
        #body .container .news_today .movie_container .news .right_edge span {
          transform: skew(-24deg);
          display: inline-block;
          color: #e7e2e2; }
        #body .container .news_today .movie_container .news .right_edge div {
          margin: 13px auto; }
        #body .container .news_today .movie_container .news .right_edge .news_info {
          font-size: 24px;
          width: 200px; }
        #body .container .news_today .movie_container .news .right_edge .detail {
          font-size: 18px;
          width: 260px; }
        #body .container .news_today .movie_container .news .right_edge .details {
          width: 155px;
          height: 42px;
          background: #ff0000;
          cursor: pointer;
          text-align: center;
          border-radius: 10px;
          transform: skew(-23deg); }
          #body .container .news_today .movie_container .news .right_edge .details .more {
            display: inline; }
        #body .container .news_today .movie_container .news .right_edge:after {
          content: " ";
          position: absolute;
          height: 100%;
          transform: skew(-23deg);
          z-index: -1;
          background: #17232a;
          width: 100px;
          right: -50px;
          top: 0; }
    #body .container .hot_comment .hot_comment_title a span {
      color: black; }
    #body .container .hot_comments {
      margin-bottom: 0; }
      #body .container .hot_comments .hot_comment {
        position: relative; }
        #body .container .hot_comments .hot_comment .img_cover {
          width: 500px;
          height: 300px;
          z-index: -1;
          position: relative; }
        #body .container .hot_comments .hot_comment .info_container {
          cursor: pointer;
          z-index: 100;
          position: relative;
          width: 95%;
          background: #eae8e8;
          border: 1px solid #eae8e8;
          border-radius: 5px;
          margin: -34px auto 0; }
          #body .container .hot_comments .hot_comment .info_container:hover {
            -moz-box-shadow: 0 0 10px grey;
            -webkit-box-shadow: 0 0 10px grey;
            box-shadow: 0 0 10px grey; }
          #body .container .hot_comments .hot_comment .info_container .info .head {
            position: relative; }
            #body .container .hot_comments .hot_comment .info_container .info .head a {
              cursor: pointer; }
              #body .container .hot_comments .hot_comment .info_container .info .head a img {
                border-radius: 100%;
                width: 52px;
                height: 52px;
                position: absolute;
                top: -30px;
                left: 15px; }
              #body .container .hot_comments .hot_comment .info_container .info .head a span {
                padding: 0 0 0 70px;
                font-size: 10px;
                color: #1d1d1d;
                opacity: 0.9; }
            #body .container .hot_comments .hot_comment .info_container .info .head .comment_time {
              padding-top: 5px;
              float: right;
              margin: 0 19px;
              font-size: 10px;
              color: #1d1d1d;
              opacity: 0.7; }
          #body .container .hot_comments .hot_comment .info_container .info .body .title {
            margin: 10px 0;
            text-align: center; }
            #body .container .hot_comments .hot_comment .info_container .info .body .title span {
              font-size: 20px;
              color: #1d1d1d; }
          #body .container .hot_comments .hot_comment .info_container .info .body .content {
            margin: 10px; }
            #body .container .hot_comments .hot_comment .info_container .info .body .content span {
              padding: 0 28px;
              font-size: 14px;
              color: #1d1d1d;
              opacity: 0.85; }
          #body .container .hot_comments .hot_comment .info_container .info .body .movie_name {
            float: right;
            font-size: 10px;
            opacity: 0.8;
            color: #1d1d1d; }

#mark_board {
  color: #090909; }
  #mark_board dl {
    position: relative; }
  #mark_board dt {
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 0 18px; }
  #mark_board dt span {
    width: 122px; }
  #mark_board dd {
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 0 18px; }
  #mark_board dd span {
    width: 110px;
    padding: 0 5px; }
  #mark_board dt, #mark_board dd {
    display: block; }
  #mark_board span {
    float: left;
    line-height: 45px; }
  #mark_board .title {
    font-size: 24px; }
  #mark_board .head_info span {
    font-size: 18px; }
  #mark_board .movie span {
    font-size: 16px; }
  #mark_board .movie .movie_mark {
    color: #16b45d; }
  #mark_board .movie .movie_rank {
    color: #db3131; }

#footer {
  background: #1c2d38; }
  #footer .container {
    display: flex;
    justify-content: space-between; }
    #footer .container ul * {
      cursor: pointer; }
    #footer .container ul li {
      font-size: 24px;
      color: #ffffff;
      padding: 19px 0; }
    #footer .container ul .title {
      font-size: 32px;
      padding: 45px 0; }
    #footer .container .subscribe li a img, #footer .container .subscribe li a span {
      vertical-align: middle; }
    #footer .container .subscribe li a span {
      color: #ffffff;
      font-size: 24px; }
    #footer .container .toTop {
      cursor: pointer;
      width: 78px;
      height: 78px;
      border-radius: 100%;
      background: #5e6d73;
      position: relative;
      margin: 135px 0; }

/*# sourceMappingURL=Index-css.css.map */
