div#header {
  height: 87px;
  width: 100%;
  background-color: #142735;
  position: fixed; }

div#banner {
  height: 300px;
  width: 100%;
  background-color: #1C2D38; }

div#article {
  min-height: 500px;
  width: 100%;
  background-color: #EBE9E9;
  position: relative; }

div#comment {
  height: 664px;
  width: 100%;
  background-color: #E3DFDF; }

div#footer {
  height: 236px;
  width: 100%;
  background-color: #1C2D38; }

div#banner div {
  width: 384px;
  height: 60px;
  position: relative;
  top: 191px;
  left: 148px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #feffff;
  opacity: 0.9; }

div#contain {
  float: left;
  min-width: 500px;
  width: 50%;
  margin-left: 15%;
  position: relative;
  top: 21px; }

div#floatDiv {
  float: left;
  height: 125px;
  width: 111px;
  position: relative;
  top: 28px;
  font-family: MicrosoftYaHei;
  font-weight: 400; }
  div#floatDiv div#top {
    font-size: 9px;
    width: 111px;
    height: 41px; }
    div#floatDiv div#top div {
      height: 9px;
      width: 110px;
      line-height: 14px; }
      div#floatDiv div#top div div {
        float: left;
        width: 40px; }
      div#floatDiv div#top div span {
        float: left;
        width: 70px; }
  div#floatDiv div#back {
    height: 50px;
    width: 40px;
    position: relative;
    top: 39px; }
    div#floatDiv div#back div {
      width: 40px;
      height: 7px;
      font-size: 7px;
      color: #4375b8; }

div#commentBody {
  height: 506px;
  min-width: 500px;
  width: 55%;
  margin-left: 15%;
  position: relative;
  top: 30px; }
  div#commentBody div#yourComment {
    width: 100%;
    height: 164px;
    background: #eae8e8;
    box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    position: relative; }
    div#commentBody div#yourComment div img {
      margin-left: 17px;
      margin-top: 21px; }
    div#commentBody div#yourComment div input {
      height: 91px;
      width: 90%;
      position: relative;
      top: 14px;
      background-color: #F1EFEF; }
    div#commentBody div#yourComment div#button {
      width: 99px;
      height: 25px;
      background: #5bbce7;
      box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.1);
      border-radius: 1px;
      position: absolute;
      bottom: 13px;
      right: 5%;
      font-size: 12px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: #f2f4f7;
      text-align: center;
      line-height: 25px; }
  div#commentBody div#hotComment {
    height: 422px;
    width: 100%;
    position: relative;
    top: 20px; }
    div#commentBody div#hotComment div#commentTitle {
      width: 89px;
      height: 32px;
      background-color: #D4D2D2;
      border-radius: 1px;
      line-height: 32px;
      text-align: center;
      font-size: 15px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: rgba(14, 14, 14, 0.9); }

div#otherComment {
  height: 328px;
  min-width: 800px;
  width: 100%;
  position: relative;
  top: 28px; }

div#firstComment {
  width: 100%;
  height: 96px;
  position: relative;
  left: 18px;
  background: #f3f1f1;
  border-radius: 3px; }
  div#firstComment div#personalComment {
    width: 95%;
    height: 37px;
    position: relative;
    left: -18px;
    top: 14px; }
    div#firstComment div#personalComment div#avatar {
      float: left; }
    div#firstComment div#personalComment div#information {
      float: left;
      width: 95%;
      height: 37px; }
      div#firstComment div#personalComment div#information span#name {
        float: left;
        width: 132px;
        height: 22px;
        position: relative;
        left: 23px;
        font-size: 11px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: #0e0e0e; }
      div#firstComment div#personalComment div#information div#time {
        width: 80px;
        height: 15px;
        font-size: 10px;
        float: right;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: #0e0e0e;
        opacity: 0.6; }
    div#firstComment div#personalComment div#allComment {
      position: relative;
      top: -11px;
      left: 23px;
      font-size: 10px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: #0e0e0e;
      opacity: 0.9; }
  div#firstComment div#reply {
    width: 200px;
    height: 12px;
    float: left;
    position: absolute;
    right: 47px;
    bottom: 31px; }
    div#firstComment div#reply div#nice {
      height: 12px;
      width: 72px;
      float: left; }
      div#firstComment div#reply div#nice div#dianzan {
        float: left; }
      div#firstComment div#reply div#nice div#dianznaNumber {
        width: 41px;
        height: 12px;
        font-size: 12px;
        font-family: MicrosoftYaHei;
        font-weight: 400; }
    div#firstComment div#reply div#return {
      float: left;
      height: 12px;
      width: 90px;
      position: relative;
      left: 24px; }
      div#firstComment div#reply div#return div#huifu {
        float: left;
        width: 36px;
        height: 12px;
        font-size: 16px; }
      div#firstComment div#reply div#return div#huifuNumber {
        float: left;
        width: 44px;
        height: 12px;
        font-size: 12px;
        position: relative;
        top: 3px; }

div.top1 {
  position: relative;
  top: 20px; }

div.top2 {
  position: relative;
  top: 40px; }

div#jump {
  height: 18px;
  width: 219px;
  position: absolute;
  bottom: 0px;
  right: 0px; }
  div#jump div {
    float: left; }
    div#jump div ul {
      float: left; }
      div#jump div ul li {
        float: left;
        height: 24px;
        width: 24px;
        border: 1px solid white;
        background: #eae8e8; }
  div#jump input {
    width: 18px;
    height: 18px; }

/*# sourceMappingURL=news.css.map */
