div#header{
    height: 87px;
    width: 100%;
    background-color: #142735;
}
div#search{
    height: 87px;
    width: 100%;
    background-color: #1D303A;
}
div#banner{
    height:300px ;
    width: 100%;
    background-color: #000000;
    background-image: url(../templates/wp1817996.jpg);
    background-repeat: no-repeat;
    background-size:1200px;
    background-position:0px;
    position: relative;
    color: white;
    //暂时颜色
}
div#contain{
    height: 1300px;
    width:100% ;
    background-color: #EBE9E9;
    position: relative;
    background-color: #E4E0E1;
}
div#footer{
    height:236px;
    width:100%;
    background-color: #1C2D38;
}

//搜素
div#searchBox{

    width:40%;
    height:40px;
    background:rgba(28,46,57,1);
    border:1px solid rgba(255,255,255,1);
    opacity:0.8;
    border-radius:20px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    input{
        height:40px ;
        width: 90%;
        position: relative;
        left: 20px;
        background-color: #1D303A;
        color: white;
    }
    img{
        float: right;
        position: absolute;
        top: 6px;right: 8px;
        height: 28px;
        width: 28px;
    }
}
div#yourPlace{
    float: right;
    width: 112px;
    height: 32px;
    position: relative;
    top: -20px;right:15%;
    img{
        height: 32px;
        width: 32px;
        filter: invert(100%);
    }
    span{
        font-size: 28px;
        color: white;
        float: right;
    }
}

//广告图片
div#bannerWord{
    height: 196px;
    width: 152px;
    position: absolute;
    bottom: 60px;right: 20%;
    font-family:MicrosoftYaHei;
    font-weight:400;
    h2{
        font-size: 28px;
    }
    h3{
        padding-top: 24px;
        font-size: 18px;
    }
    div#more{
        width:169px;
        height:34px;
        background:rgba(233,36,36,1);
        border-radius:5px;
        position: relative;
        top: 16px;
        text-align: center;
        line-height: 32px;
    }
}

//正在热映
div#showing{
    height: 561px;
    width: 70%;
    min-width: 665px;
    margin: 0 auto;
    position: relative;
    top: 27px;
    div#s-title{
        height: 24px;
        width: 100%;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2)
        span{
            font-size:18px;
        }
    }
    div#showingList{
        height: 492px;
        width: 100%;
        position: relative;
        top: 27px;
        div#s-firstLine{
            height: 247px;
            width: 100%;
            div.s-firstCard{
                height: 247px;
                width: 125px;
                img{
                    width:124px;
                    height:187px;
                }
                h3{
                    height: 26px;
                    font-size: 16px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    }
    div#s-jump{
        //分页页码
        position: absolute;
        bottom: 0;right:0;
        width: 220px;
        height: 18px;
        line-height: 22px;
        text-align: center;
        div{
            float: left;
            ul{
                float: left;
                li{
                    float: left;
                    height: 24px;
                    width: 24px;
                    border: 1px solid white;
                    background:rgba(234,232,232,1);
                }
            }
        }
        input{
            width: 18px;
            height: 18px;
        }
    }
}

//即将上映
div#comming{
    height: 561px;
    width: 70%;
    min-width: 665px;
    margin: 0 auto;
    position: relative;
    top: 61px;
    div#c-title{
        height: 24px;
        width: 100%;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2)
    }
    div#c-jump{
        //分页页码
        position: absolute;
        bottom: 0;right:0;
        width: 220px;
        height: 18px;
        line-height: 22px;
        text-align: center;
        div{
            float: left;
            ul{
                float: left;
                li{
                    float: left;
                    height: 24px;
                    width: 24px;
                    border: 1px solid white;
                    background:rgba(234,232,232,1);
                }
            }
        }
        input{
            width: 18px;
            height: 18px;
        }
    }
}