.navi_font{
  text-decoration: none;
  list-style: none;
  font: {
    size: 24px;
    weight: normal;
  }
  letter-spacing: 0;
  line-height: 28px;
  color: #e7e2e2;
}

.movie_title_font{
  font-family: "Microsoft YaHei UI";
  color: #e7e2e2;
  font:{
    size: 29px;
  }
}
.movie_lang_time_font{
  font-family: "Microsoft YaHei UI";
  color: #e7e2e2;
  font:{
    size: 17px;
  }
}
.movie_description_content_font{
  font-family: "Microsoft YaHei UI";
  font:{
    size: 13px;
  }
  color: #e7e2e2;
}