$vertical_cutLine_left_left: 103px;
$vertical_cutLine_left_top: 40px;

$vertical_cutLine_right_top: 40px;
$vertical_cutLine_right_right: -50px;

.cutLine{
  width: 100%;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
  position: absolute;
}
.vertical_cutLine{
  width: 1px;
  height: 20px;
  background: #ffffff;
  opacity: 0.5;
  position: absolute;
}
.vertical_cutLine_left{
  left: $vertical_cutLine_left_left;
  top: $vertical_cutLine_left_top;
}
.vertical_cutLine_right{
  right: $vertical_cutLine_right_right;
  top: $vertical_cutLine_right_top;
}

.vertical_cutLine_long{
  width: 1px;
  height: 328px;
  background: #c0bfbf;
  float: left;
}

.arrow_left_black{
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: transparent transparent transparent black;
  position: relative;
  float: left;
  left: 153px;
  top: 8px;
  &:after{
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border: 12px solid;
    left: -15px;
    top: -12px;
    border-color: transparent transparent transparent rgb(234,232,232);
  }
}

.arrow_top{
  position: absolute;
  width: 0;
  height: 0;
  top: 8px;
  left: 19px;
  border: 20px solid;
  border-color: transparent transparent white transparent;
  &:after{
    content: ' ';
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent  #5e6d73 transparent;
    width: 0;
    height: 0;
    top: -15px;
    left: -20px;
  }
}
//rgba(91,136,180,1);
.input{
  width: 288px;
  height: 33px;
  outline: none;
  padding: 0 0 0 10px;
  border: 2px solid black;
  border-radius: 3px;
}

