
$navi_width: 100%;
$top_background-color-beginning:  #192835;
$top_background-color-ending: #1a2b37;

$selections_margin: 3%;

$head_portrait_left: 8px;
$head_portrait_top: 7px;

$log_register_margin_left: 1px;
$log_register_margin_top: 3px;
$log_register_padding: 15px;

$selection_padding: 20px;

$logo_padding: 10px;
#header{
  position: relative;
  .navi {
    width: $navi_width;
    position: relative;
    background: {
      image: -moz-linear-gradient($top_background-color-beginning, $top_background-color-ending);
      image: -webkit-linear-gradient($top_background-color-beginning, $top_background-color-ending);
      image: -o-linear-gradient($top_background-color-beginning, $top_background-color-ending);
      image: linear-gradient($top_background-color-beginning, $top_background-color-ending);
    }

    .container {
      .logo {
        float: left;
        padding: $logo_padding 0;
      }
      .log_register{
        padding: $log_register_padding 0;
        float: right;
        .log{
          .head_portrait{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            .head_portrait, .login_in{
              margin: $log_register_margin_top $log_register_margin_left;
            }
            .head_portrait{
              vertical-align: middle;
              position: absolute;
              left: $head_portrait_left;
              top: $head_portrait_top;
            }
          }
        }
        .register{
          padding: $selection_padding 0;
          margin: $log_register_margin_top $log_register_margin_left;
          text-decoration: none;
          letter-spacing: 17px;
          .shadow{
            color: #eae9e9;
            opacity: 0.2;
          }
        }
      }
      .selections {
        text-align: center;
         .selection {
           padding: $selection_padding 0;
           vertical-align: middle;
           display: inline-block;
          margin: 0 $selections_margin;
        }
      }
    }
  }
}

